spring:
  datasource:
    url: jdbc:postgresql://db.jdqvyiqwbyvtgzmuyvdc.supabase.co:5432/postgres
    username: postgres
    password: ravindra-rope-db
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: sanyamtheking@gmail.com     # replace with your Gmail
    password: wgskfppgplqiqwju          # replace with Gmail App password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

server:
  port: 8080
